beautifulsoup4==4.13.3
dvc==3.59.1
dvc-s3==3.2.0
fastapi==0.115.12
joblib==1.4.2
numpy==2.2.4
pandas==2.2.3
pytest==8.3.5
python-multipart==0.0.20
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
uvicorn==0.34.0
